@use "@styles/settings/variables";

@mixin center-flex($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin justify-between-flex($vertical-align: center) {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	align-items: $vertical-align;
}

@mixin box {
	padding: variables.$space-10;
	border-radius: variables.$border-radius-3;
	background-color: variables.$background-white;
}
