@use "@styles/settings/variables";
@use "@styles/tools/mixins";

$screen-tablet: variables.$screen-tablet;

.logo {
	display: flex;
	gap: variables.$space-2;
	align-items: center;
	color: variables.$text-color-dark;

	&__text {
		display: none;
	}

	&[is-full] &__text {
		display: inline;
	}

	@include mixins.heading-m;

	@media screen and (width >= $screen-tablet) {
		&__text {
			display: inline;
		}
	}
}
