/* stylelint-disable color-no-hex */
.m-header {
	position: absolute;
	top: 24px;
	right: 15px;
	display: flex;
	justify-content: space-between;
	width: calc(100% - 30px);
	padding: 16px;
	border-radius: 12px;
	background-color: #fff;

	& a {
		display: inline-block;
		text-align: center;
	}
}

.a-header-edit {
	width: 159px;
}

.a-header-share {
	width: 133px;
}
