@use "@styles/settings/variables";
@use "@styles/tools/mixins";

body {
	background-color: variables.$background-light-grey;
	color: variables.$text-color-grey;
	font-family: variables.$primary-font;

	@include mixins.body-m;
}
